body{
  background-color: #F7ECDE;
}

hr{
  color: #bfbfbf;
  width: 5%;
  border-style: dotted none none;
  border-width: 5px;
  }

h1{
  color: #66bfbf;
}

h3{
  color: #66bfbf;
}
